@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #2b2b2b;
  max-width: 1440px;
  overflow-x: hidden;
}

/* NAV BAR */

header {
  background-color: #2b2b2b;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding: 8px 20px;
}
/* Hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
}

/* Mobile nav */
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #2b2b2b;
  z-index: 100;
  overflow-y: scroll;
  padding: 2rem;
}

.mobile-nav__links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav__links li {
  margin-bottom: 1rem;
}

.mobile-nav__links li:last-child {
  margin-bottom: 0;
}

.mobile-nav__links a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  color: #e5e5e5;
}

.close {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Black screen */
.black-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.503);
  z-index: 99;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

li {
  list-style: none;
}

.logo {
  color: #5c3c92;
}

.logo__img {
  width: 30%;
}

.right__nav {
  display: flex;
  flex-direction: row;
}

.nav__link {
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
}

.navbar__toggle i {
  margin-right: 0.5rem;
}

.link__hover {
  display: inline-block;
  position: relative;
}

.link__hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a37acc;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link__hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* LANDING PAGE */

#landing__page {
  height: 200px;
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing__page--header {
  font-size: 40px;
  color: #a37acc;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  width: 320px;
}

input {
  width: 80%;
  border-radius: 6px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  padding-left: 8px;
  font-size: 16px;
  width: 450px;
  max-width: 600px;
}

input:focus {
  outline: none;
}

button {
  width: 20%;
  padding: 8px;
  margin-left: 8px;
  border-radius: 6px;
  border: none;
  background-color: #5f47b3;
  color: #e5e5e5;
}

#filter {
  margin-left: 8px;
  border-radius: 6px;
}

/* FEATURED MOVIES*/

#featured__movies {
  height: 450px;
}

.featured__movies-header {
  font-size: 32px;
  color: #a37acc;
  margin-bottom: 24px;
}

.movie__list {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.movie__item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  width: 300px;
}

.movie__item-img {
  width: 70%;
  border-radius: 8px;
}

.carousel-btn {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btn--left {
  margin-right: 12px;
}
.carousel-btn--right {
  margin-left: 12px;
}

.movie__item-description {
  padding: 16px 0;
  width: 70%;
  color: #e5e5e5;
  line-height: 24px;
}

.movie__item-para {
  text-align: left;
}

.movie__item-btn {
  width: 30%;
  transition: all 0.3s ease;
}

.movie__item-btn:active {
  transform: translateY(2px);
}

.slick-prev {
  left: 0;
  margin-left: 16px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 20px;
}

.slick-next {
  right: 0;
  margin-right: 16px;
  margin-left: 0;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 20px;
}

/* MOVIE CATEGORIES */

#movie__categories {
  margin-top: 64px;
  text-align: center;
}

.categories-header {
  font-size: 32px;
  color: #a37acc;
}

.category-title {
  font-size: 24px;
  color: #e5e5e5;
  margin: 40px 12px;
}

.categories__poster {
  width: 80%;
  padding: 0 24px;
}

.categories__poster-title {
  color: #e5e5e5;
  padding-top: 16px;
  font-weight: 400;
}

.category__list {
  display: flex;
  flex-direction: column;
}

.category__item {
  display: flex;
  flex-direction: column;
}

.category__item-posters {
  display: flex;
  flex-direction: row;
}

.category-title {
  font-size: 24px;
  color: #e5e5e5;
  margin: 40px 12px;
}

.categories__poster {
  width: 80%;
  padding: 0 24px;
}

.category__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.category__item-posters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  height: 200px;
  background-color: #0a192f;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer__left {
  color: #e5e5e5;
  margin-right: 12px;
}

.footer__left-text {
  font-size: 20px;
  text-align: left;
}

.footer__right {
  color: #e5e5e5;
  margin-left: 12px;
  text-align: right;
}

.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  padding: 0 8px;
}

.fab {
  font-size: 24px;
  color: #e5e5e5;
}

/* ABOUT PAGE */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__header {
  margin-bottom: 24px;
  font-size: 48px;
  color: #5f47b3;
}

.about__para {
  width: 60%;
  color: #e5e5e5;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
}

/* SEARCH */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: #0a192f;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: lightsalmon;
}
.movie-info span.red {
  color: red;
}

.overview {
  background-color: #5f47b3;
  color: #e5e5e5;
  padding: 2rem;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* SPINNER */

.featured__movies--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.movies__loading-spinner {
  display: none !important;
}

.featured__movies--loading .movies__loading-spinner {
  display: block !important;
}

.fa-circle-notch {
  animation: spin 2s infinite ease-in-out;

  color: #e5e5e5;
  font-size: 60px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* For screens smaller than 768px  */

@media (max-width: 768px) {
  nav {
    height: auto;
  }

  .right__nav {
    margin-top: 16px;
    width: 100%;
    justify-content: space-evenly;
  }

  .logo__img {
    width: 40%;
  }

  .nav__link {
    font-size: 14px;
    padding: 4px;
  }

  .landing__page--header {
    font-size: 24px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 100%;
    max-width: 100%;
    padding-bottom: 12px;
    margin-bottom: 16px;
  }

  #filter {
    margin-top: 8px;
  }
  #featured__movies {
    height: 350px;
  }

  .movie__item {
    text-align: center !important;
  }

  /* .movie__item-img {
    width: 100%;
  } */

  .movie__item-description {
    width: 100%;
    padding: 8px 8px;
  }
  .movie__item-description p {
    font-size: 12px;
    line-height: 16px;
  }

  .movie-title {
    font-size: 12px;
    line-height: 16px;
  }

  .category-title {
    font-size: 20px;
    margin: 24px 8px;
  }

  .categories__poster {
    width: 100%;
    padding: 0;
    border-radius: 8px;
    width: 70%;
  }

  .posters__container:not(:first-child) {
    display: none;
  }

  .categories__poster-title {
    padding-bottom: 16px;
  }

  .category__item {
    margin-bottom: 24px;
  }

  .category__item-posters {
    flex-direction: column;
    margin-top: 8px;
  }

  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social__links {
    margin-top: 8px;
  }

  .about__para {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
  }

  .movie {
    width: 100%;
  }

  footer {
    overflow-y: hidden;
  }
}

@media (max-width: 678px) {
  #featured__movies {
    height: 880px;
  }
  /* Hamburger menu */
  .hamburger {
    display: block;
  }

  /* Hide desktop nav */
  .nav__links {
    display: none;
  }

  /* Show mobile nav */
  .mobile-nav {
    display: block;
  }

  /* Show black screen */
  .black-screen {
    display: block;
  }

  /* Styles for the hamburger menu when open */
  .hamburger.open .line-1 {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.open .line-2 {
    opacity: 0;
  }

  .hamburger.open .line-3 {
    transform: translateY(-6px) rotate(-45deg);
  }

  /* Styles for the black screen overlay when shown */
  .black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .black-screen.show {
    opacity: 1;
    visibility: visible;
  }

  /* Styles for preventing scroll when mobile nav is open */
  .noscroll {
    overflow: hidden;
  }

  .movie__item-description p {
    display: none;
  }

  .movie__list {
    flex-wrap: wrap;
  }

  .movie__item {
    width: 50%;
  }
}
